:root {
	--green: #4fbd40;
	--dark-green: #50db3d;
	--dark-blue: #27272e;
	--blue:  #454667;
	--gray: #444;
	--light-gray: #ccc;
}

*{
	font-family: sans-serif;
}

html {
	overflow-x: hidden;
}

body {
	background-image: url('Assets/img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: #111113;
	overflow-x: hidden;
}

.top-bar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--light-gray);
	padding: 0.5rem;
	color: #222;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
	font-size: 10px;

}

nav{
}


.nav-bar {
	margin-top: 20px;
	background-color: #27272e;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

#nav-bar__collapse {
	background-color: #121212;
	height: 300px;
}

.

.icon {
	width: 50px;
}

.nav-icon {
	width: 50px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.nav-icon img {
	width: 100%;
}

#collapse-btn {
	background-color: #444;
	padding: 10px;
	width: 40px;
	float: right;
	visibility: hidden;
}

.nav-list {
	margin: 0;
	display: flex;
	flex-flow: column;

}

.nav-item{
	list-style: none;
	border-bottom: 1px solid #666;
}

.nav-item:hover {

}

.nav-item a{
	width: 100%;
	display: block;
	padding: 2rem;
	text-decoration: none;
	color: #eee;
	text-align: right;
	float: right;
}

.nav-item a:hover{
	background-color: var(--blue);
	color: #ccc;

}


.nav-search {
	border-radius: 10px;
	border: 1px solid #ddd;
}

.nav-search [type="text"] {
	background-color: transparent;
	padding: 10px;
	border-radius: ;
}

.nav-search [type="submit"] {
	background-color: transparent;
	background-image: url('Assets/img/lupa.svg');
	background-size: auto;
}

#games-container {
	padding: 10px;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.game {
	margin: 10px;
	border-radius: 20px;
	display: flex;
}

.game-info {
	color: white;
	padding: 20px;
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-flow: column;
}

.game-info__text h2 {
	text-transform: uppercase;
	color: #eee;
}

.game-info__text p {
	color: #fff;
}

.game-download {
	color: #fff;
	font-weight: 600;
	padding: 10px;
	text-align: center;
	background-color: var(--dark-green);
	text-decoration: none;

}

.game-download:hover{
	color: #ccc;
	background-color: var(--green);
}

.game__icon {
	padding: 10px;
	display: flex;
	align-items: center;
}
.game__icon img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 20px;
}

@media screen and (max-width: 600px) {
	#collapse-btn {
		visibility: visible;
	}
	.game {
		flex-wrap: wrap;
	}

	.game__icon{
		width: 100%;
		padding: 0;
	}

	.game__icon img{
		width: 100%;
		border-radius: 20px 20px 0 0;
	}
	}
}